<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.zstu.sunshine">

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_sunshine_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_sunshine_24dp"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".tools.launcher.LauncherActivity"
            android:theme="@style/LauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tools.user.UserAddActivity"
            android:label="@string/title_activity_add_user" />
        <activity android:name=".tools.timetable.TimetableActivity" />
        <activity android:name=".tools.campuscard.CampusCardActivity" />
        <activity android:name=".tools.main.MainActivity" />
        <activity android:name=".tools.user.UserActivity" />
        <activity android:name=".tools.network.NetworkActivity" />
        <activity android:name=".tools.exam.ExamActivity" />
        <activity android:name=".tools.score.ScoreActivity" />
        <activity android:name=".tools.exercise.ExerciseActivity" />
        <activity android:name=".tools.library.LibraryActivity"></activity>
    </application>

</manifest>